
    <header>
  <h1 class="logo">Fran<span class="highlight">CoDev</span></h1>
  <div class="music-controls">
    <button id="musicToggle" class="music-btn" title="Toggle Music">
      <i class="fas fa-music"></i>
    </button>
  </div>
</header>